
<div>
  <div class="aside medium">
    <div>
      <div data-valign="middle">#eeeeee</div>
    </div>
    <div>
      <div data-valign="middle">
        <h3 id="adobe-max-2024">Adobe MAX 2024</h3>
        <p>Tune in to the global celebration of creativity from anywhere. Keynotes and over 200 inspiring sessions will be live streamed and available on demand.</p>
        <p><strong><a href="https://max.adobe.com/#_blank">Watch it now</a></strong></p>
      </div>
      <div data-valign="middle">
        <picture>
          <source type="image/webp" srcset="./media_10f0c9c11de8f0f411274f1d4a405eff2bf56f3ce.jpeg?width=2000&#x26;format=webply&#x26;optimize=medium" media="(min-width: 600px)">
          <source type="image/webp" srcset="./media_10f0c9c11de8f0f411274f1d4a405eff2bf56f3ce.jpeg?width=750&#x26;format=webply&#x26;optimize=medium">
          <source type="image/jpeg" srcset="./media_10f0c9c11de8f0f411274f1d4a405eff2bf56f3ce.jpeg?width=2000&#x26;format=jpeg&#x26;optimize=medium" media="(min-width: 600px)">
          <img loading="lazy" alt="" src="./media_10f0c9c11de8f0f411274f1d4a405eff2bf56f3ce.jpeg?width=750&#x26;format=jpeg&#x26;optimize=medium" width="2000" height="876">
        </picture>
      </div>
    </div>
  </div>
</div>
